{{> header}}
{{> navbar}}

<div class=row>
	<div class="col-md-8">
		<h1>About</h1>
	</div>
	<div class="col-md-4">
		<img src="/assets/img/solgeek.png" class="img-thumbnail" alt="solgeek">
	</div>
</div>
{{> footer}}